// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

body {
  // background-image: url("https://wallpaperscraft.com/image/space_universe_nebula_star_light_95356_1920x1080.jpg")
  font-family: "Inconsolata";
}

h1, h2, h3 {
  font-family: "Inconsolata";
}

h2 {
  margin: 50px 0px;
}

body {
  background-color: black;
}

.wrapper-contact{
  background-color: $blueish;
  padding: 50px;
  text-align: center;
  padding-bottom: 90px;
}

.wrapper-almost-white {
  background-color: $almost-white;
  padding-bottom: 40px;
}

.wrapper_purplish {
  background-color: $purplish;
  padding-bottom: 90px;
}

