---
title: Portfolio Aafke Smal
---

<div class="wrapper">
  <div class="blank-page">
    <div class="box picture hidden">
      <img class="cross-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Runic_letter_gebo.svg/60px-Runic_letter_gebo.svg.png">
    </div>
    <div class="box me hidden">
      <img class="cross-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Runic_letter_gebo.svg/60px-Runic_letter_gebo.svg.png">
      <p>Hi, this is me! After graduating from university I discovered my crazy love for code! Now I am ready to dive full-on into the coding world. <strong>&lt;h1&gt;Hello World&lt;/h1&gt;</strong></p>
    </div>
    <div class="box skills hidden">
      <img class="cross-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Runic_letter_gebo.svg/60px-Runic_letter_gebo.svg.png">
      <div class="front-end">
        <h3>Front-end</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>JavaScript</li>
          <li>Jquery</li>
        </ul>
      </div>
      <div class="back-end">
        <h3>Back-end</h3>
        <ul>
          <li>Ruby</li>
          <li>Ruby on rails</li>
          <li>PHP</li>
          <li>Git</li>
        </ul>
      </div>
    </div>
    <div class="box projects hidden">
      <img class="cross-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Runic_letter_gebo.svg/60px-Runic_letter_gebo.svg.png">
      <h2 class="text-center">Projects</h2>
      <div class="projects-body">
        <a href="#"><img src="images/refugapp_portfolio.png" class="project-img project-refugapp"></a>
        <a href="http://www.plnkgstn.nl" target="_blank"><img src="images/plankgasten.png" class="project-img project-plankgasten"></a>
        <a href="http://www.sneakertours.nl" target="_blank"><img src="images/sneakertours.png" class="project-img project-sneakertours"></a>
      </div>
      <div class="footer-projects">
        <p>An app a created during the le Wagon bootcamp.</p>
      </div>
    </div>
    <div class="box contact hidden">
      <img class="cross-box" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Runic_letter_gebo.svg/60px-Runic_letter_gebo.svg.png">
      <p>// Aafke Smal <br> // Coding Ninja</p>
      <div class="social-media">
        <ul class="list-inline">
          <li><a href="https://github.com/Aafke89" target="_blank"><i class="fa fa-github"></i></a> </li>
          <li><a href="https://www.linkedin.com/in/aafke-smal-15a9b365?" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="mailto:aafke.smal@gmail.com"><i class="fa fa-envelope"></i></a></li>
          <li> <a href="https://www.facebook.com/aafke.smal.3" target="_blank"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="box-info">
      <ul>
        <li class="info-list" data-original="me" data-target=".me">me</li>
        <li class="info-list" data-original="skills" data-target=".skills">skills</li>
        <li class="info-list" data-original="projects" data-target=".projects">projects</li>
        <li class="info-list" data-original="contact" data-target=".contact">contact</li>
        <li class="info-list" data-original="picture" data-target=".picture">picture</li>
      </ul>
    </div>
  </div>
</div>
