---
title: Portfolio Aafke Smal
---

<div id="banner">
  <div class="upper">
    <div class="letter">A</div>
    <div class="letter">A</div>
    <div class="letter">F</div>
  </div>
  <div class="down">
    <div class="letter">K</div>
    <div class="letter">E</div>
    <div class="letter"><i class="fa fa-diamond"></i></div>
  </div>
</div>


<div class="wrapper-almost-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="me">
          <div class="block-left">
            <img src="https://avatars.githubusercontent.com/u/6619254?v=3" alt="me" class="avatar-large">
          </div>
          <div class="block-right">
            <p>After graduating from university I discovered my crazy love for code! Now I am ready to dive full-on into the coding world. <strong>&lt;h1&gt;Hello World&lt;/h1&gt;</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper_purplish">
  <div class="skills">
    <div class="containter">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h2>My Skills</h2>
          <div class="skill-end">
            <h3>back-end</h3>
            <div class="skill-block">
              <img src="https://lingohub.com/wp-content/uploads/2013/08/ruby1.png">
              <img src="https://stacksbehind.s3.amazonaws.com/uploads/technology/logo/ruby-on-rails/rails_logo.png">
              <img src="http://tapoueh.org/images/sql-logo.png">
              <img src="https://zapier.cachefly.net/storage/services/3b77c88b983c09b5612c31311e34ed23.128x128.png">
              <img src="https://app.shippable.com/mktg/images/logos/heroku-square.png">
            </div>
          </div>
          <div class="skill-end">
            <h3>front-end</h3>
            <div class="skill-block">
              <img src="https://cdn0.iconfinder.com/data/icons/HTML5/512/HTML_Logo.png" alt="">
              <img src="http://muhama.com/wp-content/uploads/css3.png" alt="">
              <img src="https://c2.staticflickr.com/4/3701/19224697601_d03ecccf71_o.png" alt="">
              <img src="http://www.developersfeed.com/wp-content/uploads/2016/02/bootstrap-logo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper-cards">
  <h2>Projects</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card card- 1">
          <div class="card-center">
            <i class="fa fa-question fa-6"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="http://www.sneakertours.nl">
          <div class="card card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/sneakertours.png');">
          </div>
        </a>
      </div>
    <div class="col-xs-12 col-sm-4">
      <a href="http://www.plnkgstn.nl">
       <div class="card card-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/plankgasten.png');">
       </div>
     </a>
   </div>
 </div>
</div>
</div>

<div class="wrapper-contact">
 <h2>Let's keep in contact</h2>
 <div class="contact">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-envelope"></i></a>
  <a href="#"><i class="fa fa-github"></i></a>
</div>
</div>





